/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *
  FROM [Core].[dbo].[prod]
  
  SELECT *
  FROM [Core].[dbo].[prov]
    SELECT *
  FROM [Core].[dbo].[sumi]
  -- Mostrar los nombres de los proveedores que suministraron algun producto color rojo